# Database Configuration
DATABASE_URL=postgresql://postgres:zoro0948960004@db.kfcvzboyimslhdgnqane.supabase.co:5432/postgres

# Initial Admin Account
ADMIN_USERNAME=SuperAdmin
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=your_secure_password_here

# AI Service (Typhoon)
TYPHOON_BASE_URL=https://api.opentyphoon.ai/v1
TYPHOON_API_KEY=sk-ec57KJniI86p7HzkmcoYP8680ldOIKP9DsEIZfoZ8SamDO2Z